.video-box {
  padding-left: 0;
  padding-right: 0;
  color: $font-color;
  text-align: center;
  overflow: hidden;
}

.video-box__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.video-box__gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: opacity 2s;
}

.video-box__gradient:hover {
    opacity: 1;
}

.video-box__info {
  width: 100%;
  position: absolute;
}
.video-box__title {
  margin: 0;
  padding: 0;
}

.video-box__date {
  margin: 0;
  padding: 0;
}

.video-box__description {
  display: none;
  width: 80%;
  margin: 0 auto;
  max-height: 6rem;
  overflow: hidden;
}

.video-box--big {
  padding-bottom: $padding-bottom-16by9;
}

.video-box--small {
  padding-bottom: $padding-bottom-16by9/2;
}

.video-box__info--big {
  $top: $video-box__title--big-font-size + $video-box__date--big-font-size;
  top: calc(50% - #{$top/2});
}

.video-box__title--big {
  font-size: $video-box__title--big-font-size;
}

.video-box__date--big {
  font-size: $video-box__date--big-font-size;
}

.video-box__info--small {
  $top: $video-box__title--small-font-size + $video-box__date--small-font-size;
  top: calc(50% - #{$top/2});
}

.video-box__title--small {
  font-size: $video-box__title--small-font-size;
}

.video-box__date--small {
  font-size: $video-box__date--small-font-size;
}

//media queries
@media (min-width: $sm) {

  .video-box--big {
    padding-bottom: $padding-bottom-16by9/2;
  }

  .video-box__info {
    $top: $video-box__title--big-font-size + $video-box__date--big-font-size*2;
    top: calc(50% - #{$top/2});
  }

  .video-box__title--small {
    font-size: $video-box__title--big-font-size;
  }

  .video-box__date {
    font-size: $video-box__date--big-font-size*2;
  }

  .video-box__description {
    display: block;
  }
}

@media (min-width: $lg) {

  .video-box__info {
    $top: $video-box__title--big-font-size + $video-box__date--big-font-size*2;
    top: calc(50% - #{$top/2});
  }

  .video-box__date {
    font-size: $video-box__date--big-font-size*2;
  }

}
