.video-box {
  padding-left: 0;
  padding-right: 0;
  color: $font-color;
  text-align: center;
}

.video-box__image {
  background-size: cover;
  padding-bottom: $padding-bottom-16by9;
}

.video-box__info {
  width: 100%;
  position: absolute;
}
.video-box__title {
  margin: 0;
  padding: 0;
}

.video-box__date {
  margin: 0;
  padding: 0;
}

.video-box__info--big {
  $top: $video-box__title--big-font-size + $video-box__date--big-font-size;
  top: calc(50% - #{$top/2});
}

.video-box__title--big {
  font-size: $video-box__title--big-font-size;
}

.video-box__date--big {
  font-size: $video-box__date--big-font-size;
}

.video-box__info--small {
  $top: $video-box__title--small-font-size + $video-box__date--small-font-size;
  top: calc(50% - #{$top/2});
}

.video-box__title--small {
  font-size: $video-box__title--small-font-size;
}

.video-box__date--small {
  font-size: $video-box__date--small-font-size;
}

.video-sidebox {
  display: none;
  color: $font-color;
  padding: 0;
  margin: 0;
}

.video-sidebox__spacer {
  padding-bottom: $padding-bottom-16by9;
}

.video-sidebox__description {
  height: $video-info-desc-font-size*8;
  width: $video-info-desc-font-size*20;
  font-size: $video-info-desc-font-size;
  line-height: $video-info-desc-font-size*2;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: calc(50% - #{$video-info-desc-font-size*4});
  margin: 0;
  padding: 0;
}

.video-sidebox__description--left {
  text-align: right;
  right: 1rem;
}

.video-sidebox__description--right {
  text-align: left;
  left: 1rem;
}

//media queries
@media (min-width: $sm) {

  .video-box__info--small {
    $top: $video-box__title--big-font-size + $video-box__date--big-font-size;
    top: calc(50% - #{$top/2});
  }

  .video-box__title--small {
    font-size: $video-box__title--big-font-size;
  }

  .video-box__date--small {
    font-size: $video-box__date--big-font-size;
  }

  .video-sidebox {
    display: block;
  }
}
