.iframe-box {
  padding: 0;
}

.image {
  padding-bottom: 56.25%;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.play-btn-image {
  height: 30px;
}

.video-information {
  color: $font-color;
}
