<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 video-index-header">
      <h1 class="video-index-header__title">Playlist</h1>
    </div>
  </div>
  <div class="row">
    <a ui-sref="show({ index: 0 })">
      <div class="col-xs-12 video-box video-box--big" style="background-image: linear-gradient(to left, rgba({{videoIndex.colors[0]}}, 0.9), rgba({{videoIndex.colors[0]}}, 0.9)), url({{videoIndex.firstVideo.snippet.thumbnails.high.url}})">
        <h2 class="video-box--big__title">{{videoIndex.firstVideo.snippet.title}}</h2>
        <p>{{ videoIndex.firstVideo.snippet.publishedAt | date : date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="#" ng-repeat="video in videoIndex.otherVideos track by $index" ui-sref="show({ index: {{$index + 1}} })">
      <div class="col-xs-6 video-box video-box--small" style="background-image: linear-gradient(to left, rgba({{videoIndex.colors[$index + 1]}}, 0.9), rgba({{videoIndex.colors[$index + 1]}}, 0.9)), url({{video.snippet.thumbnails.high.url}})">
        <h3 class="video-box--small__title">{{video.snippet.title}}</h3>
        <p>{{ video.contentDetails.videoPublishedAt | date : date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
      </div>
    </a>
  </div>
</div>
