<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 video-index-header">
      <h1 class="video-index-header__title">Playlist</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 video-box video-box--big">
      <h1 class="video-box--big__title">video 1</h1>
      <p>10 October 2017</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 video-box video-box--small">
      <h3 class="video-box--small__title">video 2</h3>
      <p>10 October 2017</p>
    </div>
    <div class="col-xs-6 video-box video-box--small">
      <h3 class="video-box--small__title">video 3</h3>
      <p>10 October 2017</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 video-box video-box--small">
      <h3 class="video-box--small__title">video 2</h3>
      <p>10 October 2017</p>
    </div>
    <div class="col-xs-6 video-box video-box--small">
      <h3 class="video-box--small__title">video 3</h3>
      <p>10 October 2017</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 video-box video-box--small">
      <h3 class="video-box--small__title">video 2</h3>
      <p>10 October 2017</p>
    </div>
    <div class="col-xs-6 video-box video-box--small">
      <h3 class="video-box--small__title">video 3</h3>
      <p>10 October 2017</p>
    </div>
  </div>
</div>
