<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 video-index-header">
      <h1 class="video-index-header__title">Video</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 iframe-box">
      <!-- <h1 class="video-box--big__title">video 1</h1>
      <p>10 October 2017</p> -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="ytplayer" type="text/html" width="640" height="360"
    src="https://www.youtube.com/embed/M7lc1UVf-VE?origin=http://example.com&controls=1"
    frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 video-information">
      <h1 class="video-information__title">{{videoShow.video.snippet.title}}</h1>
      <p class="video-information__published">{{videoShow.video.snippet.publishedAt}}</p>
      <p class="video-information__description">{{videoShow.video.snippet.description}}</p>
    </div>
  </div>
</div>
