<div class="container-fluid">
  <div class="row video-navbar">
    <div class="col-xs-2">
      <i ui-sref="show({ index: {{videoShow.index - 1}} })" class="fa fa-step-backward video-navbar__link" aria-hidden="true"></i>
    </div>
    <div class="col-xs-8">
      <h1 ui-sref="index" class="video-navbar__link video-navbar__link--main">Playlist</h1>
    </div>
    <div class="col-xs-2">
      <i ui-sref="show({ index: {{videoShow.index + 1}} })" class="fa fa-step-forward video-navbar__link" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 iframe-box">
      <div class="iframe-box__image" style="background-image: linear-gradient(to left, rgba({{videoShow.colors[videoShow.index]}}, 0.2), rgba({{videoShow.colors[videoShow.index]}}, 0.9)), url({{videoShow.video.snippet.thumbnails.high.url}})">
        <button ng-click="video.showIframe = !video.showIframe" type="button" name="button" class="iframe-box__button">
          <i class="fa fa-play iframe-box__icon" aria-hidden="true"></i>
        </button>
      </div>
      <iframe ng-if="video.showIframe" class="iframe-box__iframe" type="text/html" src="{{videoShow.trustedSrc}}" frameborder="0"></iframe>
    </div>
    <!-- <div class="col-xs-12 iframe-box">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="still">
          <div class="image" style="background-image: linear-gradient(to left, rgba({{videoShow.colors[videoShow.index]}}, 0.2), rgba({{videoShow.colors[videoShow.index]}}, 0.9)), url({{videoShow.video.snippet.thumbnails.high.url}})">
          </div>
          <button ng-click="video.showIframe = !video.showIframe" type="button" name="button">
            <i class="fa fa-play iframe-box__icon" aria-hidden="true"></i>
          </button>
        </div>
        <iframe ng-if="video.showIframe" id="ytplayer" type="text/html" width="640" height="360" src="{{videoShow.trustedSrc}}" frameborder="0"></iframe>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12 video-information">
      <h1 class="video-information__title">{{videoShow.video.snippet.title}}</h1>
      <p class="video-information__published">Published on {{ videoShow.video.snippet.publishedAt | date : date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
      <p class="video-information__description">{{videoShow.video.snippet.description}}</p>
    </div>
  </div>
</div>
