<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 video-index-header">
      <h1 class="video-index-header__title">Video</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 video-box video-box--big">
      <h1 class="video-box--big__title">video 1</h1>
      <p>10 October 2017</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 video-box video-box--big">
      <h1 class="video-box--big__title">video 1</h1>
      <p>Blue Lines 2012: Rebuilt from the original tapes, remixed and remastered.\nFind out more and order yours here: http://smarturl.it/bluelines2012v \n#bluelines2012\n\nOfficial video of Massive Attack performing Teardrop from the album Mezzanine. \nBuy It Here: http://smarturl.it/pq4bmk  \nLike Massive Attack on Facebook: http://www.facebook.com/massiveattack \nFollow Massive Attack on Twitter: https://twitter.com/MassiveAttackUK \nOfficial Website: http://massiveattack.com \nSee more videos: http://www.youtube.com/user/madotie</p>
    </div>
  </div>
</div>
