//general
$font-color: #fff;
$background-color: #0c101c;
$header-height: 70px;

//video index page
$video-box-image: url('https://i.ytimg.com/vi/u7K72X4eo_s/sddefault.jpg');
$video-box--big-height: 250px;
$video-box--big-font-size: 36px;
$video-box--small-height: 150px;
$video-box--small-font-size: 18px;
