//general
$font-color: #fff;
$background-color: #160A47;
$font-family: Avenir;
$home-link-font-size: 3rem;
$nav-link-font-size: 2rem;
$padding-bottom-16-9: 56.25%;

//video index page
$video-box-image: url('https://i.ytimg.com/vi/u7K72X4eo_s/sddefault.jpg');
$video-box--big-height: 20rem;
$video-box__title--big-font-size: 2rem;
$video-box__date--big-font-size: 1rem;
$video-box--small-height: 15rem;
$video-box--small-font-size: 1.5rem;
