//general
$font-color: #fff;
$background-color: #160A47;
$font-family: Avenir;
$home-link-font-size: 3rem;
$nav-link-font-size: 2rem;
$padding-bottom-16by9: 56.25%;

//video index page
$video-box__title--big-font-size: 3rem;
$video-box__date--big-font-size: 1rem;
$video-box__title--small-font-size: 1.5rem;
$video-box__date--small-font-size: 1rem;

//video show page
$video-info-title-font-size: 3rem;
$video-info-date-font-size: 2rem;
$video-info-desc-font-size:1rem;
