html {
  background-color: $background-color;
}

body {
  background-color: $background-color;
  font-family: $font-family;
}

.video-navbar {
  text-align: center;
  color: $font-color;
  text-transform: uppercase;
}

.video-navbar__link {
  margin: 0;
  padding: 0;
  line-height: 5rem;
  font-size: $nav-link-font-size;
}

.video-navbar__link--main {
  font-size: $home-link-font-size;
}
